@font-face {
    font-family: 'Now';
    src: url('./Now-Regular.otf') format('opentype');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Now';
    src: url('./Now-Light.otf') format('opentype');
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'Now';
    src: url('./Now-Bold.otf') format('opentype');
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'Now';
    src: url('./Now-Black.otf') format('opentype');
    font-weight: 900;
  }
  